.page {
  width: 100%;
  height: 100%;

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__form-field {
    width: 216px;
  }
}
